.banner {
  text-align: center;
  padding: 16rem 0 10rem 0;
  margin-top: -14rem;
  background-color: $lighter;

  h1 {
    font-family: "Manrope", sans-serif;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1.8rem;
  }

  p {
    font-size: 1.8rem;
  }
}
