.counter {
  display: flex;
  flex-flow: column;
  align-items: center;

  img {
    width: 6rem;
  }

  .number {
    font-size: 3rem;
    font-weight: 700;
    color: $darkest;
    margin: 2rem 0;
  }

  .title {
    font-size: 1.8rem;
  }
}