.icon-text-wrap {
  list-style: none;
  display: flex;
  flex-flow: column;
  row-gap: 3rem;

  .icon-text-block {
    display: flex;

    .icon {
      margin: .3rem 2rem 0 0;
    }

    .title {
      font-weight: 700;
      font-size: 1.8rem;
      color: $darkest;
    }
  }
}