.main-nav {
  font-family: 'Playfair Display', 'serif';
  font-size: 1.8rem;

  ul {
    list-style: none;
    display: inline-flex;
    column-gap: 4rem;

    li {
      position: relative;

      a {
        text-decoration: none;
        color: $dark;
        display: inline-flex;
        align-items: center;
        column-gap: 1rem;
        transition: all .3s ease;

        &:hover {
          color: $primary;
        }
      }

      &.active {
        & > a {
          color: $primary;
        }
      }

      &.has-dropdown:hover {
        & > ul {
          display: inline-flex;
        }
      }
    }

    ul {
      position: absolute;
      min-width: 150px;
      display: none;
      flex-flow: column;
      row-gap: .8rem;
      left: 0;
      top: 100%;
      background-color: $light2;
      font-size: 1.6rem;
      padding: 1rem;
    }
  }
}
