.nav {
  font-weight: 700;
  font-size: 1.6rem;

  ul {
    list-style: none;
    display: inline-flex;
    align-items: center;
    column-gap: 6rem;

    li {
      position: relative;
      
      a {
        text-decoration: none;
        color: $darker;

        &:hover {
          color: $primary;
        }

        &::before {
          content: "";
          display: inline-block;
          width: 1px;
          height: 100%;
          background-color: $primary;
        }
      }

      &.has-dropdown {
        a {
          display: inline-flex;
          column-gap: 0.6rem;

          svg {
            width: 1.6rem;
          }
        }

        &:hover > ul {
          position: absolute;
          top: 100%;
          left: 0;
          display: flex;
          flex-flow: column;
          background: white;
          padding: 0.4rem 1rem;
          border: 1px solid #eeeeee;
        }
      }
    }

    .dropdown {
      display: none;
      @include box-shadow(0, 0, 2rem, rgba(0,0,0,0.1));
    }
  }

  &.main-nav {
    ul {
      li {
        a {
          &.active {
            color: $primary;
            
            &::before {
              content: "";
            }
          }
        }
      }
    }
  }

  &.side-nav {
    display: flex;
    justify-content: end;

    ul {
      column-gap: 1.6rem;
      align-items: center;
    }
  }
}
