.trend-post-block {
  figure {
    img {
      width: 100%;
    }
  }

  h4 {
    text-align: center;
    margin-top: 1.8rem;

    a {
      text-decoration: none;
      color: $dark;
      transition: all .3s ease;

      &:hover {
        color: $primary;
      }
    }
  }
}