.single-post {
  .header {
    text-align: center;
    padding: 0 20rem;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
      padding: 0;
    }

    .date {
      display: inline-flex;
      align-items: center;
      column-gap: 1rem;
    }
  }

  .category {
    text-decoration: none;
    color: $primary;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    transition: all 0.3s ease;

    &:hover {
      color: $dark;
    }
  }

  h1 {
    margin: 2rem 0;
  }

  figure {
    img {
      width: 100%;
    }
  }

  .content {
    padding: 0 6rem;
    p {
      margin: 3rem 0;
    }

    ul {
      margin: 0 0 0 4rem;
      color: $dark;

      li {
        margin: 1.8rem 0;
      }
    }
  }

  .footer {
    background-color: $light2;
    display: flex;
    justify-content: space-between;
    padding: 1.8rem;
    margin-bottom: 4rem;

    span {
      display: inline-flex;
      align-items: center;
      column-gap: 1rem;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }

    ul {
      list-style: none;
      display: inline-flex;
      column-gap: 1.8rem;

      a {
        color: $dark;
      }
    }
  }

  .author {
    display: flex;
    column-gap: 3rem;
    align-items: center;
    padding: 0 5rem;
    margin-bottom: 4rem;

    .image {
      width: 12rem;
      height: 12rem;
      overflow: hidden;
      border-radius: 50%;
      flex-shrink: 0;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    span {
      font-size: 2rem;
      color: $dark;
    }
  }

  .post-navigation {
    border-top: 1px solid $honeydew;
    border-bottom: 1px solid $honeydew;
    padding: 2rem 4rem;
    display: flex;
    column-gap: 8rem;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
      flex-wrap: wrap;
    }

    h4 {
      color: $gray2;
    }

    a {
      display: inline-flex;
      column-gap: 2rem;
      text-decoration: none;

      &:hover span {
        color: $dark;
      }

      &:hover h4 {
        color: $dark;
      }
    }

    figure {
      width: 200px;
      height: 100px;
      line-height: 0;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    span {
      text-transform: uppercase;
      color: $primary;
      display: inline-flex;
      align-items: center;
      column-gap: 1rem;
      transition: all 0.3s ease;
    }

    .next {
      @include breakpoint(mobile) {
        margin-top: 2rem;
      }

      a {
        flex-flow: row-reverse;

        @include breakpoint(mobile) {
          flex-flow: row;
        }
      }

      .title {
        text-align: right;
        
        @include breakpoint(mobile) {
          text-align: left;
        }
      }

      span {
        flex-flow: row-reverse;
      }
    }
  }

  .comment-block {
    margin-bottom: 4rem;

    h3 {
      text-align: center;
      margin-bottom: 3rem;
    }

    .comments {
      list-style: none;
      display: flex;
      flex-flow: column;
      row-gap: 2rem;
      padding: 0 4rem;

      li {
        background-color: $light2;
        display: flex;
        column-gap: 2rem;
        padding: 3rem;
      }
    }

    .image {
      width: 9rem;
      height: 9rem;
      flex-shrink: 0;
      border-radius: 50%;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .content {
      padding: 0;
    }

    .metas {
      display: flex;
      justify-content: space-between;

      .name {
        font-weight: 700;
        color: $dark;
      }

      .reply {
        text-decoration: none;
        color: $primary;
        margin-left: 2rem;
        color: $dark;
        font-size: 1.4rem;
      }
    }

    p {
      margin: 0;
    }
  }

  .comment-form {
    h3 {
      text-align: center;
      margin-bottom: 3rem;
    }

    form {
      display: flex;
      flex-flow: column;
      row-gap: 3rem;
      padding: 0 20rem;

      @include breakpoint(mobile) {
        padding: 0 4rem;
      }

      .half {
        display: flex;
        column-gap: 3rem;
        & > div {
          width: 50%;
        }
      }

      .form-field {
        display: flex;
        flex-flow: column;
      }

      input,
      textarea {
        background-color: $light2;
        border: none;
        border-bottom: 1px solid #dc9e82;
        padding: 1.2rem 1.6rem;
        width: 100%;
      }

      label {
        color: $dark;
        margin-bottom: 1rem;
      }

      button {
        padding: 1.2rem 1.6rem;
        width: 200px;
        border: none;
        background-color: $dark;
        color: $light;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}
