@mixin breakpoint($point) {
    @if $point == laptop {
        @media (max-width: 1280px) { @content ; }
    }

    @else if $point == tablet {
        @media (max-width: 768px) { @content ; }
    }

    @else if $point == mobile {
        @media (max-width: 550px)  { @content ; }
    }
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
      -webkit-box-shadow:inset $top $left $blur $color;
      -moz-box-shadow:inset $top $left $blur $color;
      box-shadow:inset $top $left $blur $color;
    } @else {
      -webkit-box-shadow: $top $left $blur $color;
      -moz-box-shadow: $top $left $blur $color;
      box-shadow: $top $left $blur $color;
    }
  }