.font-md {
  font-size: 1.6rem;
}

.font-lg {
  font-size: 2rem;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.flex {
  display: flex;
}

.gap-x-2 {
  column-gap: 2rem;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  justify-content: right;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.p-l-4 {
  padding-left: 4rem;
}

.p-y-3 {
  padding: 3rem 0;
}

.p-y-5 {
  padding: 5rem 0;
}

.p-y-6 {
  padding: 6rem 0;
}

.p-y-8 {
  padding: 8rem 0;
}

.p-x-10 {
  padding: 0 10rem;
}

.p-x-15 {
  padding: 0 50rem;
}

.p-t-15 {
  padding-top: 15rem;
}

.p-t-25 {
  padding-top: 25rem;
}

.img-wrap {
  line-height: 0;
  border-radius: 2rem;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.m-y-3 {
  margin: 3rem 0;
}

.m-y-4 {
  margin: 4rem 0;
}

.m-y-2 {
  margin: 2rem 0;
}

.m-r-2 {
  margin-right: 2rem;
}

.m-b-1 {
  margin-bottom: 1rem;
}

.m-b-3 {
  margin-bottom: 3rem;
}

.m-b-4 {
  margin-bottom: 4rem !important;
}

.m-b-6 {
  margin-bottom: 6rem !important;
}

.m-b-8 {
  margin-bottom: 8rem !important;
}

.m-t-2 {
  margin-top: 2rem;
}

.nm-t-12 {
  margin-top: -12rem;
}

.leading-3 {
  line-height: 3rem;
}

.w-10 {
  width: 10rem;
}

.text-light {
  color: $light;
  opacity: 0.8;
}

.bg-lightblue {
  background-color: $lightblue;
}

.bg-grayest {
  background-color: $grayest;
}
