/**
 * Variables
 */

/** Colors **/
$primary: #5863F8;
$lightblue: #e6ecff;
$yellow: #FFC800;
$light: #ffffff;
$lighter: #F6F7F9;
$dark: #60697b;
$darker: #343f52;
$darkest: #0D0628;
$gray: #aab0bc;
$grayer: #8b909b;
$grayest: #fefefe;
/*
$primary: #3F78E0;
$lightblue: #e6ecff;
$yellow: #FFC800;
$light: #ffffff;
$dark: #60697b;
$darker: #343f52;
$darkest: #03191E;
$gray: #aab0bc;
$grayer: #8b909b;
*/
/** Width **/
$gridWidth: 129rem;
$gutterVertical: 4rem;
$gutterHorizontal: 4rem;