/**
 * Variables
 */

/** Colors **/
$primary: #dc9e82;
$light: #fdfcfb;
$light2: #fbf3ef;
$dark: #030027;
$dark2: #4d4973;
$gray: #b9b9b9;
$gray2: #606067;
$honeydew: #f3fcf0;

/** Width **/
$gridWidth: 129rem;
$gutterVertical: 4rem;
$gutterHorizontal: 4rem;
